.navbar{
    background-color: var(  --yellow-theme-nav-background-color);
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

    &__container{
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0 20px;
        flex: 1;
        &__logo{
            color: var( --yellow-theme-main-color);
            cursor: pointer;
        }

        &__menu{
            display: flex;
            list-style: none;
            text-align: center;

            &__item{
                line-height: 40px;
                margin-right: 1.5rem;
                font-size: 1.6rem;

                &::after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }
                &:hover::after{
                    width: 100%;
                    background: var(--yellow-theme-main-color);

                }
                
            }
            &_links{
                color: var(--yellow-theme-main-color);
                text-decoration: none;
                padding: 0.5rem;
            }
        }
    }
  
   
    
}

@media  only screen  and (max-width:768px) {
   
    .navbar{
    background-color: var(  --yellow-theme-nav-background-color);
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;

    &__container{
        display: flex;
        
        width: 100%;
        height: inherit;
        padding: 0 20px;
        flex: 1;
        
        
        &__logo{
            color: var( --yellow-theme-main-color);
            cursor: pointer;
        }
        &__menu{
            
             display: none;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            text-align: center;
            margin-top: 18%;
            z-index: 1;
          
            margin-right: 10%;
           &.active{
            display: block;
           
           }

            &__item{
               
                line-height: 15px;
               
               flex-direction: column;
                font-size: 1.5rem;
                display: flex;
               padding-top: 2px;
              
              right: 0px;
                
                
                

                &::after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    transition: all 0.5s ease;
                }
                &:hover::after{
                    width: 100%;
                    background: var(--yellow-theme-main-color);

                }
                
            }
            &_links{
                color: var(--yellow-theme-main-color);
                text-decoration: none;
                padding: 0.5rem;
            }
            
        }

       
    }
    .nav-icon{
    display: block;
   
    
}
svg{
    color:var(--yellow-theme-main-color);
    margin-left: -50%;
}
   
}

} 